__pycache__/
outputs/
.vscode/settings.json
CLAUDE.md
datasets/pusht.h5
datasets/libero_goal.h5
wandb/
requirements_frozen.txt
lewm_libero_goal/
environment.json
.gitignore
environment_v1.json
requirements_frozen_v1.txt
